---
export interface Props{
    className?:string
}

const {className} = Astro.props
---

<h1 class=`text-heading-1 font-semibold text-3xl sm:text-4xl md:text-5xl lg:text-6xl mb-5 ${className}}`>
    <slot/>
</h1>