---
import { Image } from "astro:assets";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import benz_img from '../../images/benz.png'
---

<section class="text-gray-600 body-font ">
  
  </section>