---
import { Image } from "astro:assets";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import benz_img from '../../images/benz.png'
---

<section class="text-gray-600 body-font ">
    <div class="container px-5  mx-auto flex flex-col max-w-screen-lg  bg-gray-100 dark:bg-gray-900 rounded-xl">
      <div class="lg:w-4/6 mx-auto">
        <!-- <div class="rounded-lg">
          <img alt="content" class="object-cover object-center max-w-xl mx-auto h-full w-full" src="https://oakharborwebdesigns.com/assets/images/port3-739f2128fb39223bf0a90917b3226ca2.avif">
        </div> -->
        <div class="flex flex-col sm:flex-row mt-10 items-center">
          <div class="sm:w-1/3 text-center  sm:pr-8 sm:py-8">
            <div class="w-28 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
              <Image src={benz_img} alt="Lead Developer photo" class="rounded-full w-full"/>
              <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24"> -->
                <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
            </div>
            <div class="flex flex-col items-center text-center justify-center">
              <Paragraph className="text-2xl font-medium">Benz ST.</Paragraph>
              <div class="w-16 h-1 bg-primary rounded mt-2 mb-4"></div>
              <Paragraph className="text-base">Lead Developer & Designer</Paragraph>
            </div>
          </div>
          
          <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
            <Paragraph className="leading-relaxed text-lg mb-4">
              Hey there! I'm Benz Samson Tagle, the lead developer and designer at Zenn Web Designs. With a Computer Science degree from Bicol University, I specialize in creating custom websites that are both visually stunning and high-performing.
              <br><br>
              Zenn was founded to help local businesses elevate their brands with unique websites that capture their essence and stand out online. Every project is designed to be fast, user-friendly, and tailored to meet your business goals, whether you need an engaging portfolio, an e-commerce platform, or a way to connect with your audience.      
            </Paragraph>
            <a class="text-primary inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>