---
import { Image } from "astro:assets";
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import ByNumber from "./ByNumber.astro";

---

<section class="relative pt-32 lg:pt-28">
    <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-28 lg:mt-40"}>
  
        <div class="relative flex flex-col  text-start lg:text-left lg:py-7 xl:py-8 
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2">
            
            <h1 class="text-4xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
             font-bold text-heading-1">
             Get a Unique Website to<span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600"> Make Your Business </span> Stand Out  🤟 
            </h1>

            <Paragraph className="mt-5 z-10">
               We help businesses build professional presence with 100% hand-coded websites. No to dull and boring designs! We know how to make your business stand out.
            </Paragraph>
            <!-- We help businesses build 100% hand-coded websites. No to dull and boring designs! We know how to make your business stand out. -->


            <div class="flex gap-3 lg:mt-3">
                <!-- First button remains in "primary" variant -->
            <a href="/contact">
                <Button variant={"primary"} className={"min-w-max text-white mt-4"}>
                    <span class=" sm:flex relative z-[5]">
                        Contact Us
                    </span>
                </Button>
            </a>
                <!-- Second button with "white" variant -->
                <a href="/about" >
                    <Button variant={"white"} className={"min-w-max mt-4"} >
                        <span class=" sm:flex relative z-[5]" >
                            About Zenn
                        </span>
                    </Button>
                </a>
            </div>
        </div>
        
        <div class="flex flex-1 lg:w-1/2 lg:h-auto relative lg:max-w-none lg:mx-0 mx-auto max-w-3xl">
            <Image 
                src="https://deviceframes.com/static/bf39435f315e04fde4c46340854f5859/b1e78/device_shots.webp" 
                alt="Hero image"
                width={2350}
                height={2359}
                class="lg:absolute ml-5  mt-5 sm:mt-0 sm:ml-12 lg:w-full lg:h-full rounded-3xl object-cover lg:max-h-none max-h-96 overflow-visible z-0" 
            />
        </div>
        
        
    </Container>

    <!-- <ByNumber/> -->
</section>