---
import ContactComponent from "../components/sections/ContactComponent.astro";
import CTA from "../components/sections/CTA.astro";
import Container from "../components/shared/Container.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Contact - Zenn Web Designs">
  <main class="pt-20 md:pt-32 xl:pt-0 flex flex-col">
      <div class="xl:pt-36 flex flex-col">
      
        <ContactComponent/>
        <CTA />
      </div>
  </main>
</Layout>
<!-- 
<style>
  main{
    position: relative;
  }
  main::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("https://img.freepik.com/premium-photo/abstract-white-low-poly-background-with-lines-dots_1174990-197146.jpg?w=1380");
    background-size: ;
}
</style> -->