---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import Process from '../components/sections/Process.astro';
import Features from '../components/sections/Features.astro';
import CTA from '../components/sections/CTA.astro';
import Brands from '../components/sections/Brands.astro';
import PricingComponent from '../components/sections/PricingComponent.astro';
import FAQ from '../components/sections/FAQ.astro';
---

<Layout title="Welcome to AgenceX">
	<main class="flex flex-col gap-y-28 md:gap-y-56 overflow-hidden">
		<Hero/>
		<!-- <Brands/> -->
		<Services/>
		<Process/>
		<Features/>
		<PricingComponent/>
		<FAQ />
		<CTA/>
	</main>
</Layout>