---
import PricingComponent from "../components/sections/PricingComponent.astro";
import CTA from "../components/sections/CTA.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pricing - Zenn Web Designs">
   <main class="pt-28 md:pt-32 xl:pt-52 flex flex-col">
        <PricingComponent />
        <CTA />
   </main>
</Layout>